*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    color: white;
    height: 100vh;
    font-size: large;
}

body {
    background-color: black;
}

canvas {
    height: 100vh;
    z-index: 10;
}

.app {
    position:fixed;
    top: 10%;
    left: 5%;
}

#greeting {
    position: fixed;
}

.user-form {
    position: fixed;
    padding-top: 60px;
    right: 20%;
}

#navbar {
    position: fixed;
    width: 90%;
    text-align: center;
    top: 3%;
    left: 5%;
}

#navbar a{
    padding-left: 10px;
}

#trips-div {
    border-radius: 20px;
    position: fixed;
    top: 30%;
}

#trips-div h2 {
    text-align: center;
    border-bottom: 2px solid white;
}

.trips {
    background-image: linear-gradient(#00081450,#76c89377,#00081450);
    margin: 20px;
    padding: 20px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 20px;
    font-weight: 700;
}

.trips:hover {
    background-image: radial-gradient(#000814,#168aad);
    box-shadow: 0 0 10px white;
}

.trip {
    border: 2px dotted white;
    border-radius: 20px;
}

.trip h3, h4 {
    margin: 20px;
}

a {
    color: white;
    text-decoration: none;
}

.planet:hover {
    box-shadow: 0 0 8px white;
    background-image: radial-gradient(#000814,#168aad)
}

.planet {
    list-style-type: none;
    padding: 12px;
    border-bottom: 2px solid white;
    font-size: larger;
    border-radius: 20px;
    margin: 12px;
}

.planet a {
    text-decoration: none;
}

label {
    display: block;
}

#welcome-header {
    padding-bottom: 40px;
}

p {
    padding-bottom: 8px;
}

#new-trip-button {
    margin-top: 15px;
    width: 100px;
}

.planets-list {
    position: fixed;
    top: 15%;
}
.zoomed-planet h1{
    position: fixed;
    left: 10%;
    top: 45%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.767);
    border-radius: 20px;
    border: 2px dotted white;
}

.zoomed-planet p {
    position: fixed;
    padding: 15px;
    top: 30%;
    right: 5%;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.767);
    border-radius: 20px;
    border: 2px dotted white;
}

.hidden {
    opacity: 0;
}

.appear {
    opacity: 1;
    transition: opacity 3s ease;
}

.greeting-option {
    display: block;
    margin: 20px;
    font-size: x-large;
    padding: 12px;
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 20px;
}

.greeting-option:hover {
    box-shadow: 0 0 8px white;
}

#signin:hover {
    background-image: radial-gradient(#000814,#ddbea9);
}

#signup:hover {
    background-image: radial-gradient(#000814,#52b788);
}

#planets:hover {
    background-image: radial-gradient(#000814,#168aad);
}


.submit-button, #delete-trip-button, #edit-trip-button, #new-trip-button {
    margin: 12px;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.226);
    color: white;
    padding: 12px;
    margin-top: 8px;
    border-color: white;
    border-radius: 20px;
}

.submit-button:hover, #delete-trip-button:hover, #edit-trip-button:hover, #new-trip-button:hover {
    background-image: radial-gradient(#000814,white);
    box-shadow: 0 0 8px white;
}